@page
@model AuthorizeModel
@using Microsoft.Extensions.Primitives

<div class="jumbotron">
    <h1>Authorization</h1>

    <p class="lead text-left">Do you want to grant <strong>@Model.ApplicationName</strong> access to your data? (scopes requested: @Model.Scope)</p>

    <form asp-controller="Authorization" asp-action="Authorize" method="post">
        @* Flow the request parameters so they can be received by the Accept/Reject actions: *@
        @foreach (var parameter in HttpContext.Request.HasFormContentType ?
            (IEnumerable<KeyValuePair<string, StringValues>>) HttpContext.Request.Form : HttpContext.Request.Query)
        {
            <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <input class="btn btn-lg btn-success" asp-page-handler="accept" type="submit" value="Yes" />
        <input class="btn btn-lg btn-danger" type="submit" value="No" />
    </form>
</div>